# Dependency directories
/node_modules

# Build files
/build
/dist

# Environment variables
.env

# IDE or editor files
.idea
.vscode

# Operating System Files
.DS_Store
Thumbs.db


# Firebase Admin SDK download this data from firebase admin sdk and put it in the root directory and add it to .gitignore and rename it to serviceAccountKey.json
/serviceAccountKey.json