# Dependency directories
/node_modules

# Build files
/build
/dist

# Environment variables
.env

# IDE or editor files
.idea
.vscode

# Operating System Files
.DS_Store
Thumbs.db


# Firebase Admin SDK
/mern-blogging-project-firebase-adminsdk-kwt5d-3bfbf2eb59.json